<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--
            开启映射驼峰式转换  默认为false
         -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!--设置别名-->
    <typeAliases>
        <!--本身就内置很多别名，⽐如Integer、String、List、Map 等-->
        <!--单独一个domain起别名
            type: bean 全限定类名
            alias: 别名
        -->
        <!--<typeAlias type="com.edu.online.domain.Video" alias="Video"></typeAlias>-->
        <!--包扫描: 当前包下的所有对象都有一个别名 别名为类名-->
        <package name="com.edu.online.domain"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://39.105.189.212:3306/xdclass?useUnicode=true"/>
                <property name="username" value="root"/>
                <property name="password" value="sdbs"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/VideoMapper.xml"/>
    </mappers>
</configuration>