<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--
            开启映射驼峰式转换  默认为false
         -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 步骤1: mybatis 开启二级缓存 缓存总开关 、
            -这个配置使全局的映射器(⼆级缓存)启⽤或禁⽤缓存，全局总开关，这⾥关闭，mapper中开启了也没⽤
        -->
        <setting name="cacheEnabled" value="true"/>

        <!--延迟加载总开关-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--将aggressiveLazyLoading设置为false表示按需加载，默认为true-->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
    <!--设置别名-->
    <typeAliases>
        <!--本身就内置很多别名，⽐如Integer、String、List、Map 等-->
        <!--单独一个domain起别名
            type: bean 全限定类名
            alias: 别名
        -->
        <!--<typeAlias type="com.edu.online.modelVideo" alias="Video"></typeAlias>-->
        <!--包扫描: 当前包下的所有对象都有一个别名 别名为类名-->
        <package name="com.edu.online.model"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://39.105.189.212:3306/xdclass?useUnicode=true"/>
                <property name="username" value="root"/>
                <property name="password" value="sdbs"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/VideoMapper.xml"/>
        <mapper resource="mapper/VideoOrderMapper.xml"/>
    </mappers>
</configuration>